@model WineFridge.ViewModels.WineTypeViewModel

@{
    ViewData["Title"] = Model.Name + "(id: " + Model.TypeID + ")";
}

<h2>@Model.Name  (id: @Model.TypeID)</h2>

<table class="table">
    <tr>
        <th>Name</th>
        <td>@Model.Name</td>
    </tr>

    <tr>
        <th>Description</th>
        <td>@Model.Description</td>
    </tr>
</table>

<p><a asp-controller="WineType" asp-action="Edit" asp-route-id="@Model.TypeID">Edit</a> | <a asp-controller="WineType" asp-action="WinesOfThisType" asp-route-id="@Model.TypeID">Wines of this type</a></p>