@model WineFridge.ViewModels.WineListViewModel

@{
    ViewData["Title"] = "Wines of type" + Model.WineType.Name;
}

<h2>Wines of type @Model.WineType.Name</h2>

@if (Model.Wines.Count > 0)
{
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Number in Stock</th>
        </tr>

        @foreach (var wine in Model.Wines)
        {
            <tr>
                <td><a asp-controller="Wine" asp-action="ViewWine" asp-route-id="@wine.ID">@wine.Name</a></td>
                <td>@wine.Description</td>
                <td>@wine.Count</td>
            </tr>
        }
    </table>
}
else
{
    <p>No wines in database yet!</p>
}